:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(78, 7, 7, 0.87);
  background-color: #444242;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  width: 100%;
  height: 100%;
}

/* h1 {
  font-size: 3.2em;
  line-height: 1.1;
} */
